* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-width: 1060px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    color: white;
    background-color: #3882F6;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 7px;
    margin-top: 12px;
}

.dark-bg {
    background-color: #1F2937;
}

.quote-bg {
    background-color: #E5E7EB;
}

.section {
    display: flex;
    justify-content: center;
}

.section-content {
    padding: 24px;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links a, .hero-subtext {
    font-size: 18px;
    color: #E5E7EB
}

.header-links {
    display: flex;
    gap: 24px;
}

.hero-section {
    padding: 130px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.awesome-section {
    width: 450px;

}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-image {
    width: 500px;
    height: auto
}