* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-width: 1060px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    color: white;
    background-color: #3B82F6;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 34px;
    border-radius: 7px;
    margin-top: 12px;
}

.dark-bg {
    background-color: #1F2937;
}

.quote-bg {
    background-color: #E5E7EB;
}

.section {
    display: flex;
    justify-content: center;
}

.section-content {
    padding-left: 24px;
    padding-right: 24px;
    width: 1060px;
    display: flex;
}

.header-content {
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-content ul a, .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content ul {
    display: flex;
    gap: 24px;
}

.hero-section {
    padding: 80px 0;
}

.hero-content {
    justify-content: space-between;
    align-items: center;
}

.awesome-section {
    width: 450px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-image {
    width: 500px;
    height: auto;
}

.info-section {
    height: 503px;
}

.info-content {
    flex-direction: column;
    align-items: center;
}

.info-content h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 24px;
}

.info-content ul {
    display: flex;
    gap: 50px;
}

.info-content li {
    width: 170px;
    height: auto;
}

.info-image {
    width: 170px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.info-image-subtext {
    margin-top: 10px;
    color: #4E5866;
    font-size: 17px;
    text-align: center;
}

.quote-section {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-vertical-space {
    flex: 1;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 830px;
    padding-left: 32px;
}

.quote-subtext {
    color: #1F2937;
    font-weight: 700;
    font-size: 24px;
    padding-left: 500px;
}