* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dark-bg a {
    text-decoration: none;
    color: white
}

.dark-bg {
    background-color: #1F2937;
    color: white;
}

.quote-bg {
    background-color: #E5E7EB;
}

.section {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.section-content {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

